<!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
            <div class="caption">
              <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                <h2>{{ 'contact.hauptSatz.zeile1' | translate }} </h2>
                <p class="lead" key="start_section">
                  {{ 'contact.hauptSatz.zeile2' | translate }}</p>
              </div>
              <div class="mt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                <a class="main-button" style="margin-left: 0px;" target="_blank" rel="nofollow"
                  href="https://outlook.office365.com/owa/calendar/easy2edischaefer@easy2edi.de/bookings/">
                  <i class="mr-2">
                    <fa-icon [icon]="['far', 'calendar-check']" size="lg" style="vertical-align: 2px;"></fa-icon>
                  </i>
                  {{ 'header.termin' | translate }}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->







    <!-- Contact Us Starts Here -->
    <div class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-form">
              <form [formGroup]="formGroup" (validSubmit)="onSubmit()" #contactForm="ngForm">
                <div class="row">
                  <div class="col-md-12 col-sm-12 form-group" [customErrorMessages]="customErrorMessages">
                      <input name="userName" type="text" class="form-control" formControlName="userName" placeholder="{{ 'contact.contactNav.form.0' | translate }}">
                  </div>
                  <div class="col-md-12 col-sm-12 form-group" [customErrorMessages]="customErrorMessages">
                      <input name="emailAddress" type="text" class="form-control" formControlName="emailAddress" placeholder="{{ 'contact.contactNav.form.1' | translate }}">
                  </div>
                  <div class="col-md-12 col-sm-12 form-group" [customErrorMessages]="customErrorMessages">
                      <input name="betreff" type="text" class="form-control" formControlName="betreff" placeholder="{{ 'contact.contactNav.form.2' | translate }}">
                  </div>
                  <div class="col-md-12 col-sm-12 form-group"  [customErrorMessages]="customErrorMessages">
                      <ng-select [items]="" name="subject" class="custom" formControlName="subject"  [(ngModel)]="selectedPersonId" [translate]="'contact.contactNav.form.3'" placeholder="{{ 'contact.contactNav.form.3' | translate }}" [searchable]="false">
                        <!-- <ng-option value="kein" selected="" [translate]="'contact.contactNav.form.3'"></ng-option> -->
                        <ng-option value="Beratung-Consulting" [translate]="'contact.contactNav.form.4'"></ng-option>
                        <ng-option value="Anfrage-Information" [translate]="'contact.contactNav.form.5'"></ng-option>
                        <ng-option value="Angebot anfordern-Request a offer" [translate]="'contact.contactNav.form.6'"></ng-option>
                        <ng-option value="Sonstiges-Other" [translate]="'contact.contactNav.form.7'"></ng-option>
                      </ng-select>
                  </div>

                  <div class="col-lg-12 form-group" [customErrorMessages]="customErrorMessages">
                      <textarea name="comments" rows="6" class="form-control" formControlName="comments" placeholder="{{ 'contact.contactNav.form.8' | translate }}"></textarea>
                  </div>
                  <div class="col-lg-12 btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                      <button class="main-button" type="button" (click)="onReset()">{{ 'contact.contactNav.form.10' | translate }}</button>
                      <button class="main-button" type="submit" name="submit" [disabled]="!contactForm.form.valid" >{{ 'contact.contactNav.form.9' | translate }}</button>
                  </div>
                </div>
              </form>
          </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading" data-aos="fade-left" data-aos-duration="1000">
                <span>Contact Us</span>
                <h2>{{ 'contact.contactNav.title' | translate }}</h2>
                <p>Quisque sagittis blandit sapien et elementum. Fusce pretium viverra consequat. Aliquam at feugiat mi. Pellentesque hendrerit, felis ac sodales commodo.</p>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li data-aos="fade-left" data-aos-duration="500"><i><fa-icon [icon]="['fas', 'phone']"></fa-icon></i> +49 6078 9307344</li>
                    <li data-aos="fade-left" data-aos-duration="1000"><i><fa-icon [icon]="['fas', 'question-circle']"></fa-icon></i> info@easy2edi.de</li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li data-aos="fade-left" data-aos-duration="1500"><i><fa-icon [icon]="['fas', 'globe']"></fa-icon></i> www.easy2edi.de</li>
                    <li data-aos="fade-left" data-aos-duration="2000"><i><fa-icon [icon]="['fab', 'xing']"></fa-icon></i> Philippe_Schaefer</li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <ul>
                    <li data-aos="fade-left" data-aos-duration="2200"><i><fa-icon [icon]="['fas', 'envelope']"></fa-icon></i> philippe.schaefer@easy2edi.de</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Us Ends Here -->


    <!-- Map Starts Here -->
    <div id="map">

<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.4250218374177!2d8.918356415710509!3d49.87204447939966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd428521a3258d%3A0xa8a57f220bfb8726!2sAm%20Gewerbepark%207%2C%2064823%20Gro%C3%9F-Umstadt!5e0!3m2!1sen!2sde!4v1594510021928!5m2!1sen!2sde" width="100%" height="520px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Map Ends Here -->
