<!-- Page Content -->
<!-- Heading Starts Here -->

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="caption" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
          <h2>{{ 'about.zeile1' | translate }} </h2>
                <p class="lead" key="start_section">
                {{ 'about.zeile2' | translate }}</p>
           <br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Heading Ends Here -->

<!-- About Us Starts Here -->

<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1500">
        <div class="left-image"><img alt="" src="assets/images/our-team.jpg" /></div>
      </div>

      <div class="col-md-6">
        <div class="right-content">
          <div class="section-heading">
            <span>{{ 'about.aboutMnu' | translate }}</span>

            <h2>{{ 'about.aboutNav.title.0' | translate }}</h2>

            <p>{{ 'about.aboutNav.description' | translate }}</p>
          </div>

          <div id="tabs" class="tabs-content">
            <ul ngbNav #nav="ngbNav" class="nav-pills nav">
              <li [ngbNavItem]="1">
                <a href="#tabs-1" ngbNavLink>{{ 'about.aboutNav.title.1' | translate }}</a>
                <ng-container>
                  <ng-template ngbNavContent>
                    <p>{{ 'about.aboutNav.history.0' | translate }}</p>
                    <p>{{ 'about.aboutNav.history.1' | translate }}</p>
                    <p>{{ 'about.aboutNav.history.2' | translate }}</p>
                    <p>{{ 'about.aboutNav.history.3' | translate }}</p>
                  </ng-template>
              </ng-container>
              </li>
              <li [ngbNavItem]="2">
                <a href="#tabs-2" ngbNavLink>{{ 'about.aboutNav.title.2' | translate }}</a>
                <ng-template ngbNavContent>
                  <p>{{ 'about.aboutNav.vision' | translate }}</p>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Us Ends Here -->
<!-- Team Starts Here -->

<div class="team-section">
  <div class="container">
    <div class="row">



      <div class="col-md-6">
        <div class="left-content">
        <div class="section-heading">
          <span>{{ 'about.team.title' | translate }}</span>

          <h2>{{ 'about.team.subTitle' | translate }}</h2>

          <p>{{ 'about.team.description1' | translate }}</p>
          <p>{{ 'about.team.description2' | translate }}</p>
        </div>
      </div>
      </div>

      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1500">
        <div class="team-item right-image"><img alt="Philippe Schäfer" src="assets/images/Philippe.jpg" />
          <div class="down-content">
            <h4>Philippe Schäfer</h4>
            <span>Co-Founder</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- Team Ends Here -->
