 <!-- Footer Starts Here -->
 <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
          <div class="footer-heading">
            <h2>Our Address:</h2>
          </div>
          <p>easy2edi Schäfer</p>
          <p>Philippe Schäfer<br>
            Am Gewerbepark 7<br>
            64823 Groß-Umstadt</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
          <div class="footer-heading">
            <h2>Hosting Plans</h2>
          </div>
          <ul class="footer-list">
            <li><a href="#">Basic Services 5X</a></li>
            <li><a href="#">Services VPS 10X</a></li>
            <li><a href="#">Advanced Services</a></li>
            <li><a href="#">Custom Services</a></li>
            <li><a href="#">Special Solutions</a></li>
          </ul>
        </div>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
          <div class="footer-heading">
            <h2>Useful Links</h2>
          </div>
          <ul class="footer-list">
            <li><a href="#">EDI Platform</a></li>
            <li><a href="#">EDI Wissen</a></li>
            <li><a href="#">Content EDI</a></li>
            <li><a href="#">EDI Customer Support</a></li>
            <li><a href="#">Latest EDI News</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-item">
          <div class="footer-heading">
            <h2>More Information</h2>
          </div>
          <ul class="footer-list">
            <li>Phone: <a href="#">+49 6078 9307344</a></li>
            <li>Email: <a href="#">philippe.schaefer@easy2edi.de</a></li>
            <li>Support: <a href="#">support@company.com</a></li>
            <li>Website: <a href="#">www.easy2edi.de</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="sub-footer">
          <p>Copyright &copy; 2020 easy2edi Schäfer
          - Designed by <a rel="nofollow" href="https://it.farzat.co" target="_blank">Suliman Farzat</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Ends Here -->
