/*stickynav*/


 .stickynav-tease {
  height:30px;
  vertical-align:middle;
  color:#fff;
  font-size:12px;
  border-radius:unset;
  background-color:#3B3B3B; /*#122932;*/
  margin-bottom:0;
  line-height:30px
 }
 .stickynav-tease a {
  color:#fff
 }

 @media (max-width:992px) {
  .hidden-sm {
    display: none !important;
  }
 }






.dropdown.language {
  position: absolute;
  right: 200px;
  width: auto;
  top: 35px;
}
@media (max-width: 991px) {
  .dropdown.language {
    right: 100px;
    position: absolute; top: 10px;
  }
}
