/*stickynav*/


 .stickynav-tease {
  height:30px;
  vertical-align:middle;
  color:#fff;
  font-size:12px;
  border-radius:unset;
  background-color:#3B3B3B; /*#122932;*/
  margin-bottom:0;
  line-height:30px
 }
 .stickynav-tease a {
  color:#fff
 }

 @media (max-width:992px) {
  .hidden-sm {
    display: none !important;
  }
 }
 @media (max-width: 576px) {
  .hidden-xs {
    display: none !important;
  }
}


 .ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;

}
.ng-select.custom .ng-select-container  {
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom ::ng-deep .ng-select-container  {
  min-height: 24px;
  height: 24px;
  border-radius: 4px;
  border-color: #ffffff;
  color: #fff;
  background-color: transparent;
  margin-top: 3px;
  line-height: 25px;
  overflow: unset;
}

/* nav Icon menu mobile view */
.navbar .navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #51BAA7;
  stroke-width: 8;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 8;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 8;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 8;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 8;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 8;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 8;
}
