<!-- Header -->


<header class="" id="header">

  <div class="stickynav-tease hidden-sm hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          easy2edi Support:
          <span class="ml-4">
            <i>
              <fa-icon [icon]="['fas', 'phone']"></fa-icon>
            </i>
            <a class="ml-1" href="tel:+49 6078 9307344">+49 6078 9307344</a>
          </span>

          <span class="ml-4">
            <i>
              <fa-icon [icon]="['far', 'envelope']"></fa-icon>
            </i>
            <a class="ml-1" href="mailto:philippe.schaefer@easy2edi.de?subject=Mail from easy2edi Site&amp;body=Hallo Herr Schäfer,">philippe.schaefer@easy2edi.de</a>
          </span>
        </div>
        <div class="col-md-6">
          <div class="float-right">
            <a target="_blank" rel="nofollow" href="https://outlook.office365.com/owa/calendar/easy2edischaefer@easy2edi.de/bookings/">
              <i>
                <fa-icon [icon]="['far', 'calendar-check']"></fa-icon>
              </i>
              {{ 'header.termin' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a routerLink="/" class="navbar-brand" href="#">
        <img src="./assets/images/logo/SmallLogo.png" style="margin-top: -10px;" width="150" alt="easy2edi">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <button type="button" class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed"
        [attr.aria-expanded]="!isMenuCollapsed" aria-controls="navbarResponsive">
        <span class="navbar-toggler-icon">&#9776;</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link" href="#" key="home" (click)="isMenuCollapsed = true">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/services" routerLinkActive="active" class="nav-link" href="#"
              (click)="isMenuCollapsed = true">{{ 'services.servicesMnu' | translate }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="/projects" routerLinkActive="active" class="nav-link" href="#"
              (click)="isMenuCollapsed = true">{{ 'projects.projectsMnu' | translate }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link" href="#" key="about"
              (click)="isMenuCollapsed = true">{{ 'about.aboutMnu' | translate }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link" href="#"
              (click)="isMenuCollapsed = true">{{ 'contact.contactMnu' | translate }}</a>
          </li>
        </ul>
      </div>



      <div ngbDropdown class="dropdown language">
        <button class="btn btn-secondary dropdown-toggle" type="button" ngbDropdownToggle id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="flag-icon flag-icon-us"></span> English
        </button>
        <div class="dropdown-menu dropdown-menu-right text-right language" ngbDropdownMenu>
          <button ngbDropdownItem><span class="flag-icon flag-icon-de"> </span></button>
          <button ngbDropdownItem><span class="flag-icon flag-icon-us"> </span></button>
          <a class="dropdown-item"  ngbDropdownItem><span class="flag-icon flag-icon-fr"> </span> French</a>
          <a class="dropdown-item" href="#it" ngbDropdownItem><span class="flag-icon flag-icon-it"> </span> Italian</a>
          <a class="dropdown-item" href="#ru" ngbDropdownItem><span class="flag-icon flag-icon-ru"> </span> Russian</a>
        </div>
      </div>


      <div class="row functional-buttons" (click)="isMenuCollapsed = true">
        <div class="col">
          <span>
            <select #selectedLang (change)="switchLang(selectedLang.value)">
              <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang" >
                {{ language }}
                <img src="assets/images/svg/deutschland.svg" />
              </option>
            </select>
          </span>
        </div>
      </div>





    </div>
  </nav>
</header>
