<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner" id="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="header-text caption" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
              <h2>{{ 'home.hauptSatz.zeile1' | translate }}</h2>
                <p class="lead" key="start_section">
                  {{ 'home.hauptSatz.zeile2' | translate }} <br>
                {{ 'home.hauptSatz.zeile3' | translate }}</p>
            </div>
            <div class="mt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
              <a class="main-button" style="margin-left: 0px;" routerLink="." fragment="testimonials">
                {{ 'home.testimonials.zeile1' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->


    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h4>{{ 'home.reverences' | translate }}</h4>
            </div>
          </div>
          <div class="col-md-12">
            <owl-carousel-o [options]="trustedOptions" class="owl-trusted">
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a class="mr-3" href="https://www.vs-logistics.com/" target="_blank">
                    <img src="assets/images/trusted-vs.png" alt="vs logistics">
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a class="mr-3" href="https://www.rothenberger.com/" target="_blank">
                    <img src="assets/images/trusted_Rothenberger.png" alt="Rothenberger">
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a class="mr-3" href="https://www.gs1-germany.de/" target="_blank">
                    <img src="assets/images/trusted_GS1.png" alt="GS1">
                  </a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a href="https://www.lobster-world.com/de/produkte/" target="_blank">
                    <img src="assets/images/trusted_lobster1.png" alt="lobster"></a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a href="https://edi-wissen.de/de/" target="_blank">
                    <img src="assets/images/trusted_edi-wissen.png" alt="MMC-Media"></a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a href="https://www.mmc-media.de/" target="_blank">
                    <img src="assets/images/trusted-mmc.png" alt="MMC-Media"></a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a href="https://www.vda.de/de/services/Publikationen.html" target="_blank">
                    <img src="assets/images/trusted_vda.png" alt="VDA"></a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="trusted-item">
                  <a href="https://it.farzat.co/" target="_blank">
                    <img src="assets/images/trusted_farzat.png" alt="FARZAT" style="width: 57px;max-height: 80px"></a>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section tb_banner_index">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading" data-aos="fade-down" data-aos-duration="1000">
              <span>{{ 'home.services.zeile0' | translate }}</span>
              <h2>{{ 'home.services.zeile1' | translate }}</h2>
              <p>{{ 'home.services.zeile2' | translate }}
                 {{ 'home.services.zeile3' | translate }} <a class="text-secondary" routerLink="." fragment="features">{{ 'home.services.zeile4' | translate }}</a></p>

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-down" data-aos-duration="1500">
            <div class="service-item animate_down run">
              <i><fa-icon [icon]="['fas', 'business-time']" size="lg"></fa-icon></i>
              <h4>{{ 'home.services.card1-h' | translate }}</h4>
              <p>{{ 'home.services.card1-b' | translate }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-down" data-aos-duration="1500">
            <div class="service-item animate_down run">
              <i><fa-icon [icon]="['fas', 'server']" size="lg"></fa-icon></i>
              <h4>{{ 'home.services.card2-h' | translate }}</h4>
              <p>{{ 'home.services.card2-b' | translate }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-down" data-aos-duration="1500">
            <div class="service-item animate_down run">
              <i><fa-icon [icon]="['fas', 'shield-alt']" size="lg"></fa-icon></i>
              <h4>{{ 'home.services.card3-h' | translate }}</h4>
              <p>{{ 'home.services.card3-b' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->







    <!-- Features Starts Here -->
    <div class="features-section" id="features" data-aos="fade-down" data-aos-duration="200">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>{{ 'home.features.zeile1' | translate }}</span>
              <h2>{{ 'home.features.zeile2' | translate }}</h2>
            </div>
          </div>
          <ng-container *ngFor="let item of 'home.features.cards' | translate | keyvalue">
          <div class="col-md-6" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <div class="feature-item">
              <div class="icon">
                <i><fa-icon [icon]="['fas', item.value[0] ]" size="2x"></fa-icon></i>
              </div>
              <h4>{{ item.key }}</h4>
              <p>{{ item.value[1] }}</p>
            </div>
          </div>
        </ng-container>

        </div>
      </div>
    </div>
    <!-- Features Ends Here -->
