.tb_banner_index {
  background: url(/assets/images/classify-tb-banner.png) top center no-repeat;
  background-size: 100% 38rem;
  text-align: center;
  min-height: 20rem;
  color: #fff;
}

.features-section{
  // background: url(/assets/images/classify-tb-banner.jpg) top center no-repeat;
  // background-position: bottom;
  // background-size: 100% 38rem;
  // text-align: center;
  // min-height: 20rem;
  // color: #fff;
}

