.background-image-video{
  background-image: url("../../../assets/images/technology-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	position: absolute;
	width: 100%;
}

.card{
    text-align: center;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(19, 10, 133, 0.15) !important;
    border: none !important;
    border-radius: 0.3rem !important;
}
.embed-responsive{
  border-radius: 0.3rem 0.3rem 0 0 !important;
}
