<!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="caption" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
              <h2>{{ 'services.hauptSatz.zeile1' | translate }} </h2>
                <p class="lead" key="start_section">
                {{ 'services.hauptSatz.zeile3' | translate }}</p>
            </div>
            <div class="mt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
              <a class="main-button" style="margin-left: 0px;" routerLink="." fragment="services">
                {{ 'services.hauptSatz.knopf' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- Pricing Starts Here -->
    <div class="pricing-section">
      <div class="background-image-pricing">
      </div>
      <div class="container">
        <div class="row">

          <div class="col-md-8 offset-md-2">
            <div class="section-heading" data-aos="fade-down" data-aos-duration="1000">
              <h2>{{ 'services.hauptSatz.zeile2' | translate }}</h2>
              <!-- <p></p> -->
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item" data-aos="fade-down" data-aos-duration="1500">
              <h4>{{ 'services.card1.title' | translate }}</h4><br>
              <div class="price">
                <h6>{{ 'services.card1.subTitle' | translate }}</h6>
                <span>Consulting</span>
              </div>
              <p>{{ 'services.card1.description' | translate }}</p>
              <div class="dev"></div>
              <ul>
                <ng-container *ngFor="let item of 'services.card1.lobster' | translate ">
                  <li><i><fa-icon [icon]="['fas', 'check']"></fa-icon></i>{{item}}</li>
                </ng-container>
              </ul>
              <a class="main-button" (click)="open(content, 'lobster _data' )">{{ 'services.cardButton' | translate }}</a>
              <!-- <pre>{{ closeResult }}</pre> -->
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item" data-aos="zoom-in-down" data-aos-duration="1500">
              <h4>{{ 'services.card2.title' | translate }}</h4>
              <div class="price price-gradient">
                <h6>{{ 'services.card2.subTitle' | translate }}</h6>
                <span>Consulting</span>
              </div>
              <p>{{ 'services.card2.description' | translate }}</p>
              <div class="dev"></div>
              <ul>
                <ng-container *ngFor="let item of 'services.card2.allgemeines' | translate ">
                  <li><i><fa-icon [icon]="['fas', 'check']"></fa-icon></i>{{item}}</li>
                </ng-container>
              </ul>
              <a class="gradient-button" (click)="open(content, 'Allgemeines EDI/IT Consulting' )">{{ 'services.cardButton' | translate }}</a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12" >
            <div class="pricing-item" data-aos="fade-down" data-aos-duration="1500">
              <h4>{{ 'services.card3.title' | translate }}</h4>
              <div class="price">
                <h6>{{ 'services.card3.subTitle' | translate }}</h6>
                <span>Consulting</span>
              </div>
              <p>{{ 'services.card3.description' | translate }}</p>
              <div class="dev"></div>
              <ul>
                <ng-container *ngFor="let item of 'services.card3.seeburger' | translate ">
                  <li><i><fa-icon [icon]="['fas', 'check']"></fa-icon></i>{{item}}</li>
                </ng-container>
              </ul>
              <a class="main-button" (click)="open(content, 'Seeburger BIS' )">{{ 'services.cardButton' | translate }}</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- models -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ product }} Angebot einholen</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">First name</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom02">Last name</label>
              <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom03">City</label>
              <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationCustom04">State</label>
              <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationCustom05">Zip</label>
              <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="dateOfBirth">Date</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>
    <!-- Pricing Ends Here -->


    <!-- embedding youtube lobster-->
    <div class="pricing-section" style="background-color: #f7f7f7;" id="services">
      <div class="background-image-video">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading" data-aos="fade-down" data-aos-duration="1000">
              <span class="text-secondary">{{ 'services.hauptSatz.zeile4' | translate }}</span>
              <h2>{{ 'services.hauptSatz.knopf' | translate }}</h2>
              <p>{{ 'services.hauptSatz.solutions' | translate }}</p>
            </div>
          </div>
          <ng-container *ngFor="let item of 'services.video' | translate | keyvalue">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="mb-5 card">
                <ngb-carousel [pauseOnHover]="true" [pauseOnFocus]="true" [showNavigationIndicators]="false" [showNavigationArrows]="false">
                  <ng-template ngbSlide>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" [src]="item.value['link'] | safe" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{ item.value['bez'] }}</h4>
                      <p class="card-text">{{ item.value['name'] }}</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>


     <!-- embedding youtube seeburger-->



    <!-- Services Starts Here -->
     <div class="services-section services-page">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="service-item bg-light">
              <i><fa-icon [icon]="['fas', 'search']" size="lg"></fa-icon></i>
              <h4>{{ 'schlagworte.name' | translate }}</h4>
              <ng-container *ngFor="let item of 'schlagworte.alle' | translate ">
                <span class="badge badge-pill badge-secondary m-1 p-2">{{ item }}</span>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Services Ends Here -->
