.pricing-section {
  margin-top: 40px;
}
.box {
  float: left;
  width: 27.6%;
  max-width: 18.5rem;
  padding: 1.1rem 2% 1.6rem 2%;
  margin-right: 2.5%;
  box-shadow: 0rem 0rem .5rem 0rem rgba(19,10,133,0.15);
  text-align: center;
  border-radius: .3rem;
  position: relative;
  background-color: #fff;
}
.animate_down  {
  opacity: 1;
  transform: translate(0rem, 0rem);
}
