<!-- Testimonials Starts Here -->
<div class="testimonials-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span>{{ 'home.testimonials.zeile1' | translate }}</span>
          <h2>{{ 'home.testimonials.zeile2' | translate }}</h2>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <owl-carousel-o [options]="testimonialsOptions" class="owl-testimonials" >

          <ng-container *ngFor="let item of 'home.testimonials.cards' | translate | keyvalue">
            <ng-template carouselSlide>
              <div class="testimonial-item">
                <div class="icon">
                  <!-- <i class="fa fa-quote-right"></i> -->
                <i> <fa-icon [icon]="['fas', 'quote-right']"></fa-icon></i>
                </div>
                <p>{{ item.value[1] }}</p>
                <h4>{{ item.key }}</h4>
                <span>{{ item.value[0] }}</span>
              </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- Testimonials Ends Here -->
<!-- <owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide [id]="slide.id">
      <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
    </ng-template>
  </ng-container>

</owl-carousel-o> -->
