<!-- Testimonials Starts Here -->
<div class="testimonials-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span>Testimonials</span>
          <h2>What they say about us</h2>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <owl-carousel-o class="owl-testimonials" [options]="testimonialsOptions">

          <ng-container *ngFor="let slide of 'testimonials.cards' | translate | keyvalue">
            <ng-template carouselSlide>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque penatibus et
                  magnis dis parturient montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada."</p>
                <h4>John Doe</h4>
                <span>New Co-Founder</span>
              </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- Testimonials Ends Here -->
<!-- <owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide [id]="slide.id">
      <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
    </ng-template>
  </ng-container>

</owl-carousel-o> -->
