<!-- Testimonials Starts Here -->
<div class="testimonials-section" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span>{{ 'home.testimonials.zeile1' | translate }}</span>
          <h2>{{ 'home.testimonials.zeile2' | translate }}</h2>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <owl-carousel-o [options]="testimonialsOptions" class="owl-testimonials" >

          <ng-container *ngFor="let item of 'home.testimonials.cards' | translate | keyvalue">
            <ng-template carouselSlide>
              <div class="testimonial-item">
                <div class="icon">
                  <!-- <i class="fa fa-quote-right"></i> -->
                <i> <fa-icon [icon]="['fas', 'quote-right']"></fa-icon></i>
                </div>
                <p>{{ item.value[1] }}</p>
                <h4>{{ item.key }}</h4>

                <ngb-rating [(rate)]="currentRate" [readonly]="true" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 5">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <br>

                <a href="{{ item.value[2] }}" target="_blank">{{ item.value[0] }}</a>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-2">
        <div style="width: 40px;height: 40px;" placement="top" ngbTooltip="go to top">
      <a [routerLink]="link" fragment>
        <i class="text-secondary">
          <fa-icon [icon]="['fas', 'angle-up']" size="4x"></fa-icon>
        </i>
      </a>
    </div>
    </div>
    </div>
  </div>
</div>
<!-- Testimonials Ends Here -->
