/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~animate-scss/animate.scss';
@import '~flag-icon-css/sass/flag-icon.scss';
@import '~aos/src/sass/aos.scss';
@import '~@ng-select/ng-select/scss/default.theme.scss';
// ... or
//@import '~@ng-select/ng-select/themes/material.theme.css';

@import 'assets/css/custom.scss';

BODY, HTML {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-moz-selection { background: #3B3B3B; color: #51BAA7; }
::selection { background: #3B3B3B; color: #51BAA7; }

/* Start keine animations in Mobile Anzeige */
@media screen and (max-width: 768px) {
  [data-aos] {
    transition-duration: 0s !important;
  }
}


/**************************************/
/* Start fixed button freelancer Site */
/**************************************/

$buttons-height: 36px;
$sticky-width: 22px;
$position: 100px;
$height: 519px;

.feedback {
  z-index: 1049;
  position: fixed;
  right: 0;
  bottom: $position;
  height: $height;
  width: 0px;
  /* HOVER OFF */
  transition: width 0.5s;
}

.sub-feedback {
    content: '&#10094';
    z-index: 1049;
    background-color: #51BAA7 !important;
    right: 0;
    width: $buttons-height;
    bottom: $position + $height;
    position: fixed;
    height: 40px; /* as the half of the width */
    border-radius: 5px 0 0 5px !important;
    cursor: pointer;
    transition: width 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    span{
      font-size: 28px;
      font-weight: 800;
      color: #fff;
      margin-left: 10px;
    }
    &:hover {
      opacity: 0.9;
    }
}
.sub-feedback-after {
  border-radius: 5px 0 0 5px !important;
}

/* Flashing/Glowing Button*/
@keyframes glowing {
  0% {
    background-color: #DDFBF4;
    box-shadow: 0 0 6px #DDFBF4;
  }
  50% {
    background-color: #23F7E6;
    box-shadow: 0 0 10px #23F7E6;
  }
  100% {
    background-color: #DDFBF4;
    box-shadow: 0 0 6px #DDFBF4;
  }
}

.sub-feedback {
  animation: glowing 1300ms infinite;
}
/*******************************/

@media (max-height: 850px)  {
  .feedback {
    height: 390px !important;
    p{
      display: none;
    }
  }
  .sub-feedback {
    bottom: $position + 390px !important;
  }
}

@media (max-width: 576px)  {
  .feedback {
    height: 260px !important;
    p{
      display: none;
    }
  }
  .sub-feedback {
    bottom: $position + 260px !important;
  }
}

.show-feedback, .show-sub-feedback {
  width: 200px;
  transition: color 0.5s linear;
  /* vendorless fallback */
  -o-transition: color 0.5s linear;
  /* opera */
  -ms-transition: color 0.5s linear;
  /* IE 10 */
  -moz-transition: color 0.5s linear;
  /* Firefox */
  -webkit-transition: color 0.5s linear;
  /*safari and chrome */
  /* HOVER ON */
  -webkit-transition: width 0.5s;
  animation-fill-mode: forwards;
  animation: animateThis 0.5s ease-in;
}

@keyframes animateThis {
  0% {
    width: 20px;
  }
  100% {
    width: 200px;
  }
}

.dark {
  border-color: #184358 !important;
  border-radius: 5px 0 0 5px !important;
  p {
    color: #FFF;
  }
}



#flm-profile-widget a {
  background-color: #51BAA7 !important;
  border: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  border-radius: 0.125rem;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.15);
}

#flm-profile-widget a:hover {
  background-color: #3B3B3B !important;
}

/**************************************/
/* Ende fixed button freelancer Site */
/**************************************/
